// Feel free to change the styles in this file as you wish.

// Variables
@import './variables';
@import './utilities';

// Normalize

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

// General styling

body {
  font-family: sans-serif;
  background: $gray-1;
  height: 100vh;
}

// Custom Styling
